*{
    box-sizing: border-box;
}

body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

#main{
    display: flex;
    flex-direction: column;
    align-content: center;
}

#message{
    background-color: aqua;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#message:hover{
    background-color: white;
    transition: 0.7s;
}


#title{
    font-size: 3em;

}

#img-div{
    width: 100%;
    margin: 0 auto;
}

#img-div figure, #image{
    width: 100%;
    margin: 0 auto;
}

#img-caption{
    text-align: center;
}

#tribute-info{
    width: 100%;
    padding: 75px;
    color: grey;
    font-size: 1.35em;
    text-indent: 20px;
    word-wrap: break-word;
}

#tribute-link{
    text-decoration: none;

}

#tribute-link:hover{
    text-decoration: underline;
    color: lightgrey;
    transform: scale(1.2);
    transition: 0.7s;
}

footer{
    text-align: center;
    padding: 10px;
    box-shadow: 0.5px -0.5px 20px 0px rgba(0, 0, 0, 0.2);
}
